@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .input {
    @apply border border-gray-500 w-1/6 rounded-lg p-1 focus:outline-none
  }
  .button-principal {
    @apply font-medium rounded-lg focus:outline-none p-2 bg-principal text-white
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-img-cont {
  max-width: 250px;
  max-height: 200px; 
  min-height: 200px;
}

.product-img {
  max-width: 250px;
  max-height: 200px;
  min-height: 200px;
}

.icon-img {
  max-width: 40px;
  max-height: 40px;
  min-height: 40px;
  margin-left: 30px;
  margin-top: 25px;
}

.icon-data-img {
  max-width: 30px;
  max-height: 30px;
  margin-right: 15px;
}

.card-container {
  width: 250px;
  height: 400px;
}

.card{
  -webkit-box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.22);
  -moz-box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.22);
  box-shadow: 10px 10px 18px 3px rgba(0,0,0,0.22);
  margin-top: 20px;
  margin-right: 20px;
}

.card:hover{
  transition: all 0.3s;
  transform: scale(1.05);
}

.card:active{
  transform: scale(0.95);
}

.delete-product-btn {
  align-self: flex-end;
  width: 65px;
  height: 65px;
}

.piz-info-container {
  align-items: center;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.piz-info-body-container {
  display: flex;
  grid-column: 2/3;
  border: solid 1px grey;
}

.piz-info-body {
  display: flex;
  align-self: center;
}

.pizz-info-dtl {
  margin-top: 15px;
  font-size: larger;
  text-align: justify;
}

.error-piz-nf {
  text-align: center;
}

.pizzap-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.oders-table-top {
  border: solid 1px black;
  height: 35px;
  line-height: 30px;
  
  background-color: rgb(116, 177, 149);
  font-size: 125%;
  color: rgb(248, 248, 248);
  text-shadow: 0 3px 3px rgb(85, 105, 83);
  text-overflow: ellipsis;
}

.oders-table-cell {
  height: 30px;
  border: solid 0.25px grey;
  font-family: 'Cantarell';
  font-size: 110%;
  background-color: white;
}

.order-table-dtl {
  width: 300px;
}

.left-t-top {
  border-top-left-radius: 8px;
}

.right-t-top {
  border-top-right-radius: 8px;
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden; 
  box-shadow: 0 0 0 1px rgb(180, 179, 179);
}
